<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">Tipo de Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-row class="ion-padding">
    <ion-col style="margin-top: 120px;" size="12">
      <ion-button style="height: 80px;" expand="block" routerLink="/cad-cliente" color="tertiary" >CLIENTE</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button style="height: 80px;" expand="block" routerLink="/cad-manicure" color="success" >MANICURE</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
