<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Servicos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div>
      <ion-grid>
          <ion-row class="full-width">
  <ion-col size="6">
    <ion-button expand="full"  color="tertiary" (click)="view()" >
    <ion-icon slot="start" name="list" ></ion-icon>
      View
    </ion-button>
  </ion-col>

  <ion-col size="6">
      <ion-button expand="full"  color="tertiary" (click)="edit()" >
      <ion-icon slot="start" name="create" ></ion-icon>
        Edit
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row class="full-width">
      <ion-col size="12">
        <ion-button expand="full"  color="tertiary" routerLink="/home" >
        <ion-icon slot="start" name="arrow-back" ></ion-icon>
          Voltar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
