<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Servicos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div padding-top="80px">
    <ion-grid>
      <ion-row class="full-width">
      <ion-col size="6">
        <ion-button expand="block"  color="tertiary" (click)="view()" >
          <ion-icon slot="start" name="list" ></ion-icon>
            Ver
        </ion-button>
      </ion-col>

      <ion-col size="6">
          <ion-button expand="block"  color="tertiary" (click)="edit()" >
          <ion-icon slot="start" name="create" ></ion-icon>
            Add
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>

</ion-content>

<ion-footer no-border padding-bottom="50px">
  <ion-toolbar>
    <ion-button expand="block"  color="tertiary" routerLink="/home" >
      <ion-icon slot="start" name="arrow-back" ></ion-icon>
        Voltar
    </ion-button>
  </ion-toolbar>
</ion-footer>