<ion-header no-border>
  <ion-toolbar>
    <ion-title>Horários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Segunda-Feira</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                  <ion-grid fixed>
                    <ion-row class="ion-text-center">
                      <ion-col class="ion-text-center" size="6">
                        <ion-item class="ion-text-center">
                          <ion-datetime display-format="HH:mm"></ion-datetime>
                        </ion-item>

                      </ion-col>
                      
                      <ion-col size="6">
                        <ion-item>
                          <ion-datetime display-format="HH:mm"></ion-datetime>
                          
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Terça-Feira</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                          </ion-item>
  
                        </ion-col>
                        
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                            
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Quarta-Feira</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                          </ion-item>
  
                        </ion-col>
                        
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                            
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Quinta-Feira</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                          </ion-item>
  
                        </ion-col>
                        
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                            
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Sexta-Feira</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                          </ion-item>
  
                        </ion-col>
                        
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                            
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Sábado</ion-card-title>
        <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label>Manhã</ion-label>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                          </ion-item>
  
                        </ion-col>
                        
                        <ion-col size="6">
                          <ion-item>
                            <ion-datetime display-format="HH:mm"></ion-datetime>
                            
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Tarde</ion-label>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                            </ion-item>
    
                          </ion-col>
                          
                          <ion-col size="6">
                            <ion-item>
                              <ion-datetime display-format="HH:mm"></ion-datetime>
                              
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Domingo</ion-card-title>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row class="ion-text-center">
              <ion-col size="12">
                <ion-label>Manhã</ion-label>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="6">
                      <ion-item>
                        <ion-datetime display-format="HH:mm"></ion-datetime>
                      </ion-item>

                    </ion-col>
                    
                    <ion-col size="6">
                      <ion-item>
                        <ion-datetime display-format="HH:mm"></ion-datetime>
                        
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                  
              </ion-col>
              
              <ion-col size="12">
                <ion-label>Tarde</ion-label>
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="6">
                        <ion-item>
                          <ion-datetime display-format="HH:mm"></ion-datetime>
                        </ion-item>

                      </ion-col>
                      
                      <ion-col size="6">
                        <ion-item>
                          <ion-datetime display-format="HH:mm"></ion-datetime>
                          
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                    
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  

  </ion-list>
</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
            <ion-button expand="block" color="primary" routerLink="../../../home">
              <ion-icon slot="start" name="arrow-back" ></ion-icon>
              Voltar
            </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="tertiary" routerLink="./new">
            <ion-icon slot="start" name="add" ></ion-icon>
              Add
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>