<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>
    <!-- <form (ngSubmit)="register()" class="ion-padding"> -->
    <form  class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="re.name" placeholder="Nome" type="text" name="name"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-input [(ngModel)]="userRegister.email" placeholder="Email" type="text" name="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="userRegister.password" placeholder="Senha" type="password" name="password"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="re.end" placeholder="Endereço" type="text" name="login"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="re.phone" placeholder="Telefone" maxlength="11" type="number" name="phone"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-segment (ionChange)="segmentChanged($event)" color="success">

          <ion-segment-button  value="manicure">
            <ion-label>Manicure</ion-label>
          </ion-segment-button>

          <ion-segment-button   value="cliente">
            <ion-label>Cliente</ion-label>
          </ion-segment-button>

        </ion-segment>
      </ion-item>

      <ion-grid>
        <ion-row class="full-width">

          <ion-col size="6">
            <ion-button expand="full"  color="danger" routerLink="/login" routerDirection="back">
            <ion-icon slot="start" name="close" ></ion-icon>
              Cancelar
            </ion-button>

          </ion-col>
          <ion-col size="6">
              <ion-button expand="full"  color="success" (click)="register()">
                <ion-icon slot="start" name="add"></ion-icon>
                Cadastrar
              </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
