<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title style="margin-left: 11%" color="dark">Tabela de Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>
    <div *ngIf=" manicure > 0 ">
        <ion-card>
            <ion-card-header style="background-color: #f4f4f4">
              <ion-card-title >Manicure:  R$: <span style="color:red;">{{manicure}},00</span></ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
    <div *ngIf=" pedicure > 0">
        <ion-card>
            <ion-card-header style="background-color: #f4f4f4">
              <ion-card-title >Pedicure:  R$: <span style="color:red">{{pedicure}},00</span></ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
    <div *ngIf=" cabelo > 0 ">
        <ion-card>
            <ion-card-header style="background-color: #f4f4f4">
              <ion-card-title >Cabelo:  R$: <span style="color:red">{{cabelo}},00</span></ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
    <div *ngIf=" estetica > 0 ">
        <ion-card>
            <ion-card-header style="background-color: #f4f4f4">
              <ion-card-title >Estética:  R$: <span style="color:red">{{estetica}},00</span></ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
    <div *ngIf=" maquiagem > 0 ">
        <ion-card>
            <ion-card-header style="background-color: #f4f4f4">
              <ion-card-title >Maquiagem:  R$: <span style="color:red">{{maquiagem}},00</span></ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>

  </h1>

</ion-content>
