<ion-header no-border>
  <ion-toolbar class="ion-text-center">
      <img height="300px" width="300px" src="../../../../assets/img/logo.png"/>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid class="login-grid">
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col size="12">
        <ion-label ></ion-label>
        <ion-item>
          <ion-input [(ngModel)]="loginRegister.email" placeholder="E-mail" type="email" name="email"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-item>
          <ion-input [(ngModel)]="loginRegister.password" placeholder="Senha" [type]="tipo ? 'text': 'password'" name="password" ></ion-input>
          <ion-button (click)="exibirSenha()" fill="clear">
            <ion-icon slot="end" [name]="tipo ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <br>
        <br>
        <ion-item>
          <ion-input [(ngModel)]="loginRegister.confirmPassword" placeholder="Confirmar Senha" [type]="tipo ? 'text': 'password'" name="password"></ion-input>
          <ion-button (click)="exibirSenha()" fill="clear">
            <ion-icon slot="end" [name]="tipo ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
    
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <!-- <form (ngSubmit)="register()" class="ion-padding"> -->
   
    <!-- <ion-grid>
      <ion-row class="full-width">

        <ion-col size="6">
          <ion-button expand="full"  color="danger" routerLink="/login" routerDirection="back">
          <ion-icon slot="start" name="close" ></ion-icon>
            Cancelar
          </ion-button>

        </ion-col>
        <ion-col size="6">
            <ion-button expand="full"  color="success" (click)="register()">
              <ion-icon slot="start" name="add"></ion-icon>
              Cadastrar
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  


</ion-content>


<footer no-border>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-button
          expand="block"
          color="danger"
          (click)="cancel()"
        >
          <ion-icon slot="start" name="close"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="register()">
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          Continuar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</footer>
