// .buttom-bottom{
//     position: absolute;
//     bottom: 30%;
// }

.login-grid {
    height: 80%;

    ion-row {
        height: 100%;
    }
}

.sign-in-hr {
    width: 100%; 
    height: 10px; 
    border-bottom: 1px solid rgb(177, 167, 167); 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 10px;

    span {
        font-size: 18px; 
        color: rgb(177, 167, 167); 
        background-color: #ffffff; 
        padding: 0 10px;
    }
}

.fb-col {
    padding-left: 0px !important;
}

.rs-btn {
    width: 100%;
    --border-radius: 0px;
    text-transform: none;

    &.fb {
        --background: #3b5998;
    }
    
    &.g {
        --background: #d62d20;
    }
}

.signup-col{
    position:0!important;
}

.login-col{
    margin-top:70%!important;
    margin-bottom:70%!important;
}
