// .buttom-bottom{
//     position: absolute;
//     bottom: 30%;
// }

.login-grid {
    height: 80%;

    ion-row {
        height: 100%;
    }
}



ion-item {
    // --highlight-color-invalid: #f04141 !important;
    --highlight-color-valid: #10dc60 !important;
}



h1 { 
    color: #d54d7b; font-family: "Great Vibes", cursive;
    font-size: 160%; line-height: 135%; font-weight: normal;
    margin-bottom: 0px; margin-top: 0px; text-align: center;
    text-shadow: 0 1px 1px #fff;
}



// h1 { 
//     color: #d54d7b; font-family: "Great Vibes", cursive ;
//     font-style: italic; font-weight: 900;
//     font-size: 180%; line-height: 135%;
//     margin-bottom: 0px; margin-top: 0px; text-align: center;
//     text-shadow: 0 1px 1px #fff;
// }