<ion-content padding class="background-image">
    <ion-list >
        <ion-item  (click)="cliente()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()"> 
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()">
            <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()">
            <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()">
            <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
        <ion-item (click)="cliente()">
            <ion-icon slot="start" name="person"></ion-icon>
          <ion-label color="dark"><h3>Contado</h3></ion-label>
          <ion-label slot="end" color="tertiary">9-9999-9999</ion-label>
        </ion-item>
      </ion-list>
      
</ion-content>
