
h1 { 
    color: #d54d7b; font-family: "Great Vibes", cursive ;
    font-style: italic; font-weight: 900;
    font-size: 130%; line-height: 135%;
    margin-bottom: 0px; margin-top: 0px; text-align: center;
    text-shadow: 0 1px 1px #fff;
}