<ion-header>
  <ion-title class="ion-text-center" color="tertiary"> 
    <h3>MakeBelz</h3>
   </ion-title>
</ion-header>

<ion-content >
  <ion-card color="tertiary" class="ion-text-center">
    <ion-card-header>
      <ion-card-subtitle>Manicure para 20/04/2020</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card color="tertiary" class="ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>Manicure para 20/04/2020</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card color="tertiary" class="ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>Manicure para 20/04/2020</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
</ion-content>
