<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Serviços Prestados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form>
      <ion-item>
        <ion-label>Pedicure</ion-label>
        <ion-toggle color="secondary" (click)="isToggle('pedicure')" [(ngModel)]="serv.pedicure" name="pedicure" ></ion-toggle>
      </ion-item>

      <div *ngIf="map.pedicure">
        <ion-item color="light">
          <ion-label >Custo deste serviço:</ion-label>
          <ion-input required [(ngModel)]="priceServ.pedicure" type="number" name="pedicure"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label>Manicure</ion-label>
        <ion-toggle color="secondary" (click)="isToggle('manicure')" [(ngModel)]="serv.manicure" name="manicure" ></ion-toggle>
      </ion-item>

      <div *ngIf="map.manicure">
          <ion-item color="light">
            <ion-label >Custo deste serviço:</ion-label>
            <ion-input required [(ngModel)]="priceServ.manicure" type="number" name="manicure"></ion-input>
          </ion-item>
        </div>

      <ion-item>
        <ion-label>Serviços Estéticos</ion-label>
        <ion-toggle color="secondary" (click)="isToggle('estetica')" [(ngModel)]="serv.estetica" name="estetica"></ion-toggle>
      </ion-item>

      <div *ngIf="map.estetica">
          <ion-item color="light">
            <ion-label >Custo deste serviço:</ion-label>
            <ion-input required [(ngModel)]="priceServ.estetica" type="number" name="estetica"></ion-input>
          </ion-item>
        </div>

      <ion-item>
        <ion-label>Maquiagem</ion-label>
        <ion-toggle color="secondary" (click)="isToggle('maquiagem')" [(ngModel)]="serv.maquiagem" name="maquiagem"></ion-toggle>
      </ion-item>

      <div *ngIf="map.maquiagem">
          <ion-item color="light">
            <ion-label >Custo deste serviço:</ion-label>
            <ion-input required [(ngModel)]="priceServ.maquiagem" type="number" name="maquiagem"></ion-input>
          </ion-item>
        </div>

      <ion-item>
        <ion-label>Cabelo</ion-label>
        <ion-toggle color="secondary" (click)="isToggle('cabelo')" [(ngModel)]="serv.cabelo" name="cabelo" ></ion-toggle>
      </ion-item>

      <div *ngIf="map.cabelo">
        <ion-item color="light">
          <ion-label >Custo deste serviço:</ion-label>
          <ion-input required [(ngModel)]="priceServ.cabelo" type="number" name="cabelo"></ion-input>
        </ion-item>
      </div>

    <ion-grid>
      <ion-row class="full-width">

        <ion-col size="6">
          <ion-button expand="full"  color="tertiary" routerLink="/crud-service-professional" >
          <ion-icon slot="start" name="arrow-back" ></ion-icon>
            Voltar
          </ion-button>
        </ion-col>
        
        <ion-col size="6">
          <ion-button expand="full"  color="success" (click)="cadServices()" routerLink="serviceProfessional" >
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Confirmar
            </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-card>
      <h5>Preços igual ou menor que zero não é válido</h5>
    </ion-card>
  </ion-toolbar>
</ion-footer>