<ion-header no-border>
  <ion-toolbar>
    <ion-title>Adicionar dias de trabalho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
  <ion-list>


    
    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Segunda-Feira</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.segunda" name="segunda" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Terça-Feira</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.terca" name="terca" ></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Quarta-Feira</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle  [(ngModel)]="week.quarta" name="quarta" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
            <ion-card-title>Quinta-Feira</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.quinta" name="quinta" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Sexta-Feira</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.sexta" name="sexta" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Sábado</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.sabado" name="sabado" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>Domingo</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-toggle [(ngModel)]="week.domingo" name="domingo" ></ion-toggle>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>


  </ion-list>
</form>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
            <ion-button expand="block" color="primary" routerLink="../../../../scheduling" routerDirection="back">
              <ion-icon slot="start" name="arrow-back" ></ion-icon>
              Voltar
            </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="tertiary" (click)="confirm()" routerLink="../../../../scheduling">
            <ion-icon slot="start" name="add" ></ion-icon>
              Confirmar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>