<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      MakeBelz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
  <form (ngSubmit)="login()" >
      <ion-item>
        <ion-input [(ngModel)]="lg.username" placeholder="Login" type="text" name="login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="lg.password" placeholder="Senha" type="password" name="senha"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" color="success" >Entrar</ion-button>
      <ion-button expand="full" routerLink="/home" color="medium" >Cadastrar</ion-button>
    </form>
  </div>

</ion-content>
